*{
  font-family: 'over';
  list-style: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  scrollbar-color: #242423 #333533;
  scroll-behavior: smooth;
}
body{
  background-color: #121e41;
}
@font-face {
  font-family: 'over';
  /*src: url('Font/prime.ttf') format('truetype');*/
  src: url('Font/Over-Regular.ttf') format('truetype');
}
